@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.header_main_site video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
}
.header_main_site {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 2.9rem;
}
.navbar img {
  width: 160px;
  position: relative;
  top: -3px;
}
.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  font-weight: 500;
  transition: all 0.3s ease-in;
  border-radius: 5px;
}
.navbar ul li a:hover {
  color: #000;
  background-color: #fff;
}
